/* Definições de cores */
:root{
    --branco: #ffffff;
    --gelo: #f1f1f1;
    --verde: #19c463;
    --preto: #2a2a2a;
    --amarelo: #FED03E;
    --vermelho: #750808;
}

/* Estilos nav bar carrinho */
.nav-top.cart{
    width: 100%;
    background-color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}

.nav-top.cart a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid var(--gelo);
    border-radius: 50%;
    color: var(--preto);
}

.nav-top.cart a:first-child{
    margin-left: 20px;
}

.nav-top.cart a:last-child{
    margin-right: 20px;
}

/* Estilos para a lista do carrinho */
#listaCarrinho{
    display: flex;
    flex-flow: column wrap;
    margin-top: 20px;
    padding-bottom: 280px;
}


.item-carrinho{
    display: flex;
    align-items: center;
    width: 90%;
    height: 120px;
    padding: 10px 0px;
    margin: auto;
    border-bottom: 1px solid var(--gelo);
}

/* Área da imagem do produto */
.area-img{
    flex: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--gelo);
    border-radius: 20px;
}

.area-img img{
    max-width: 120px;
    height: 120px;
    object-fit: contain;
}

.area-details{
    flex: 70%;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    height: 100%;
}

.sup{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.name-prod{
    font-size: 20px;
    font-weight: 600;
    margin-left: 15px;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.delete-item{
    font-size: 18px;
    color: var(--vermelho);
    margin-right: 15px;
}

.middle span{
    color: rgb(46, 46, 46);
    margin-left: 15px;
}

/* Área de preço e quantidade */
.preco-quantidade {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
}

.preco-quantidade span{
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
    font-weight: 600;
    margin-left: 15px;
}

.preco-quantidade .count{
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.btn-excluir {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 30px;
    color: var(--branco);
    margin-bottom: -20px;
    background: var(--vermelho);
    border: 2px solid var(--branco);
    border-radius: 5px;
    font-size: 15px;
}

.btn-comprar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 30px;
    color: var(--preto);
    background: var(--amarelo);
    margin-right: 20px;
    margin-bottom: -20px;
    border: 1px solid var(--branco);
    border-radius: 5px;
    font-size: 15px;
}

.bd-bottom{
    border-bottom: 1px solid var(--gelo);
}

.toolbar{
    height: 80px;
}

.tab-link{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

.toolbar-inner .link{      
    flex:1;
    height: 80px;   
    line-height: 25px; 
    font-weight:bold;
    color: var(--amarelo);      
}

/* Estilos para a barra de ferramentas */
.toolbar-inner{
    background-color: var(--branco);
    border-top: 1px solid var(--gelo);
}

.toolbar-inner .link:not(.active){
    color: var(--preto);
    font-weight:normal;
}

.toolbar-inner > .link i{
    font-size: 28px;
}